body {
    font-family: Arial;
    background: #f2f2f2;
}

form {
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    background: white;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
}
